.topo1{    
    height: -10px;
}

.paragrafo{
    margin-left: 30px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.paragrafo1{
    margin-left: 30px;
    margin-bottom: 20px;
}

.paragrafo2{
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.paragrafo3{
    margin-left: 15px;
}

.paragrafo4{
    margin-top: 15px;
    margin-left: 4px;
    margin-bottom: 10px;
}

.links{
    margin-left: 50px;
}

#infoBox{
    width: 98%;
    height: 38vh;
    justify-content: center;
    border-radius: 15px;
    margin-top: 2.5%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    background-color: #ffecbb;
}

.topo{
    height: 60px;
    background-color: darkorange;
}

.topoChat{
    height: 45px;
    background-color: darkorange;
}

.subTopo{
    height: 60px;
    background-color: darkorange;
}

.topoContent{
    height: 60px;
    background-color: darkorange;
}

.logo{
    margin-top: -53px;
    margin-bottom: -16px;
    color: white;
}

.logoBlack{
    color: black;
    margin-left: 2px;
}

.centerUnderLogo{
    margin-top: -10px;
}

.card{
    border-radius: 15px;
    border-width: 8px;
    border-color: black;
    box-shadow: 4px;    
    background-color: #fff7e3;
    margin: 16px;
    margin-top: 32px;
    padding: 8px;
}

.cardMsg{
    width: 98%;
    height: 112px;
}

.cardContent{
    margin-left: 16px;
}

.cardContentMsg{
    margin-left: 180px;
}

.msgCardTempo{
    margin-left: 1400px;
}

.msgCardNome{
    margin-left: 120px;
    font-size: larger;
}

.profilePicture{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: -74px;
}

.back{
    margin-top: -75px;
}

.seta{
    width: 20px;
    height: 20px;
}

.btnBgLaranja{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-left: 64px;
}

.btnBgLaranjaFeed{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-left: 64px;
    margin-top: 32px;
}

.flex{
    display: flex;
}

.flexRow{
    flex-direction: row;
}

.flexColumn{
    flex-direction: column;
}

.justifyContentCenter{
    justify-content: center;
}

.justifyItemsCenter{
    justify-items: center;
}

.alignContentCenter{
    align-content: center;
}

.alignItemsCenter{
    align-content: center;
}